
    .content {
        flex-direction: column;
        margin-bottom: 2.5em;
    }

    .text-content{
        border: 1px solid #ffffff;
        margin-bottom: 2.5em;

    }
    .preview img{
        width: 100%;
        height: 19em;
    }

    .links {
        padding: 1.3em;
        color: #70a7ff;
    }
    .links_title{
        padding: 1.3em;
    }

    .links_title a{
        color: #70a7ff;
    }


    /*Страница перехода по сcылке title*/



    .art-box img{
        width: 35em;
        padding:0.6em  0.6em  0.6em 0;
    }

    .art-box a:hover{
      color: #e871b7;
    }

    .preview_art{
        display: flex;
    }


    .graphic_art-box img{
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding:20px;
    }

    .dropdown{
        width: 100px;
    }

    .dropdown-child {
        min-width: 200px;
    }