
    .content {
        flex-direction: column;
        margin-bottom: 2.5em;
    }

    .text-content {
        border: 1px solid #ffffff;
        margin-bottom: 2.5em;

    }

    .links {
        padding: 1.3em;
        color: #70a7ff;
    }
    .links_title {
        padding: 1.3em;
    }

    .links_title a {
        color: #70a7ff;
    }
    .wrapper {
       position: fixed;
        width: 250px;
        /*padding-bottom: 20px;*/
        top: 0;
    }

    .dropdown-child {
        background-color: #2e2d33;

    }


    .menu_link {
        padding: 20px;
    }

    .button-group {
        display: flex;
    }

    .button_menu {
       background-color: black;
    }





    /*Страница перехода по сcылке title*/



    .art-box img {
        width: 35em;
        height: 460px;
        padding:0.6em  0.6em  0.6em 0;
        object-fit: cover;
    }

    .art-box a:hover {
      color: #e871b7;
    }

    .preview_art {
        display: flex;
    }

    .preview_art a:hover:after,.preview_art a:focus:after {
        width: 0;
    }


    div.graphic_art-box {
        width: 250px;
        height: 250px;
        object-fit: cover;
        margin: 10px;
        background-color: #9d2f20;
        display: flex;
    }


    .dropdown-child {
        min-width: 200px;
    }

    .preview_text {
        border: 1px solid white;
    }

    .gallery_button {
        width:80px;
        padding: 20px;
        background-color: #5183ff;
        color: #ffffff;
        border-radius: 10px;
        text-decoration: none;
        border: none;

    }
    .container_art {
        display: flex;
        flex-wrap: wrap;
        width: 71.3em;
        margin: 0 auto;
    }


















    @media screen and (max-width: 1542px) {
        .wrapper {
            z-index: 1;
        }
        .content {
            z-index: 0;
        }
    }


    @media screen and (max-width: 500px) {
        .preview_text {
            width: 30em;
        }


        .art-box img {
            width: 100%;
        }

        .text-content {
            width: 30em;
        }

        .preview_art {
            flex-direction: column;
            margin: 0 auto;
        }

        .preview img {
            width:30em;
        }
    }
