
    .content {
        flex-direction: column;
        margin-bottom: 2.5em;
    }

    .text-content {
        border: 1px solid #ffffff;
        margin-bottom: 2.5em;

    }

    .links {
        padding: 1.3em;
        color: #70a7ff;
    }
    .links_title {
        padding: 1.3em;
    }

    .links_title a {
        color: #70a7ff;
    }
    .wrapper {
       position: fixed;
        width: 250px;
        background-color: #4b5376;
        padding-bottom: 20px;
    }

    .menu_link {
        padding: 20px;
    }

    .button-group {
        display: flex;
    }

    .button_menu {
        padding: 10px  10px  1.3em ;

    }



    /*Страница перехода по сcылке title*/



    .art-box img {
        width: 35em;
        padding:0.6em  0.6em  0.6em 0;
    }

    .art-box a:hover {
      color: #e871b7;
    }

    .preview_art {
        display: flex;
    }


    .graphic_art-box img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        padding:20px;
    }

    .dropdown {
        width: 100px;
    }

    .dropdown-child {
        min-width: 200px;
    }

    .preview_text {
        border: 1px solid white;
    }


    @media screen and (max-width: 1542px) {
        .wrapper {
            z-index: 1;
        }
        .content {
            z-index: 0;
        }
    }


    @media screen and (max-width: 500px) {
        .preview_text {
            width: 30em;
        }


        .art-box img {
            width: 100%;
        }

        .text-content {
            width: 30em;
        }

        .preview_art {
            flex-direction: column;
            margin: 0 auto;
        }

        .preview img {
            width:30em;
        }
    }
