 body {
     margin: 0;
     padding: 0;
     font-family: Montserrat, sans-serif;
     background-color: #2e2d33;
 }

 a {
     color: white;
     text-decoration: none;
 }

 .banner {
     width: 100%;
     height: 35em;
     justify-content: center;
 }

 .banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: relative;
     z-index: 0;
 }

 .navbar {
     display: flex;
     justify-content: center;
     height: 5em;
     width: 100%;
     background-color: black;
     top: 557px;
 }

 .layer {

     display: flex;
     justify-content: center;
     width: 1140px;

 }

 .layer a {
     padding:30px 49px 0;
 }

 .layer a:hover {
     color: #70a7ff;
 }

 .content {
     display: flex;
     margin: 0 auto;
     width: 1140px;
 }

 .teaser {
     width: 380px;
     text-align: center;
     padding: 20px;
 }

 .teaser a:hover{
     color: #3c3bff;
 }

 .teaser_text{
     background-color: #9a999f;
     padding: 20px;
     width: 379px;
     text-align: center;

 }

 a {
     line-height: 1;
     cursor: pointer;
     position:relative;
 }
 a:after {
     background-color: #ffffff;
     display: block;
     content: "";
     height: 2px;
     width: 0;
     left:50%;
     position:absolute;
     transition: width .3s ease-in-out;
     transform:translateX(-50%);
 }
    a:hover:after,
    a:focus:after {
     width: 100%;
    }

 .dropdown{
     width: 380px;
     justify-content: center;
 }



 @media screen and (max-width: 900px){
     .name {
         color: red;
         font-style: normal;
         font-weight: normal;
         font-size: 50px;
     }

     .layer a {
         text-decoration: none;
         padding:30px 20px 0;
     }
 }
 .button_menu {
     background-color: #ac4b80;
     color: white;
     border: none;
     cursor: pointer;
     padding:20px;
     margin: 0 auto;
 }

 .dropdown {
     height: 320px;
     position: relative;
 }
 .dropdown-child {
     display: none;
     background-color: black;
     min-width: 200px;
 }
 .dropdown-child a {
     color: white;
     padding: 20px;
     text-decoration: none;
     display: block;
 }
 .dropdown:hover .dropdown-child {
     display: block;
 }

 @media screen and (max-width: 480px) {
     .banner{
         width: 100%;
     }

     .name {
         color: #70a7ff;
         font-style: normal;
         font-weight: normal;
         font-size: 30px;
     }

 }