 body {
     margin: 0;
     padding: 0;
     font-family: Montserrat, sans-serif;
     background-color: #2e2d33;
 }

 a {
     color: #ffffff;
     text-decoration: none;
 }
 .visited:visited {
     color: #e871b7;
 }
 p {
     text-indent: 1.3em;
 }

 .banner {
     width: 100%;
     height: 35em;
     justify-content: center;
 }

 .banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: relative;
     z-index: 0;
 }

 .navbar {
     display: flex;
     justify-content: center;
     height: 5em;
     width: 100%;
     background-color: #000000;
 }

 .layer {
     display: flex;
     justify-content: center;
     width: 71.3em;
 }

 .layer a {
     padding:1.9em 3.1em 0;
 }

 .layer a:hover {
     color: #70a7ff;
 }

 .content {
     display: flex;
     margin: 0 auto;
     width: 71.3em;
 }

 .teaser {
     width: 24em;
     text-align: center;
     padding: 1.3em 0;
 }

 .teaser a:hover {
     color: #3c3bff;
 }

 .index_icon_title img {
     width:80px;
     display: block;
     margin: auto;
     padding-bottom: 10px
 }

 .teaser_text, .reviews {
     height: 150px;
     border-bottom: 1px solid #ffffff;
     border-left: 1px solid #ffffff;
     width:23.9em;
     text-align: center;
 }

 .teaser_text p {
     color: #ffffff;
     margin: 0;
     padding: 10px 1.3em;
 }

 a {
     line-height: 1;
     cursor: pointer;
     position:relative;
 }
 a:after {
     background-color: #ffffff;
     display: block;
     content: "";
     height: 0.13em;
     width: 0;
     left:50%;
     position:absolute;
     transition: width .3s ease-in-out;
     transform:translateX(-50%);
 }
    a:hover:after,
    a:focus:after {
     width: 100%;
    }


 .button_menu {
     background-color: #70a7ff;
     color: #ffffff;
     border: none;
     cursor: pointer;
     padding: 15px 15px 10px;
     border-radius: 10px;

 }

 .dropdown {
     height: 20em;
     position: relative;
     padding-top: 10px;
 }
 .dropdown-child {
     display: none;
     max-width:500px;
     border: 1px solid #ffffff;
     text-align: center;
 }
 .dropdown-child a {
     color: #ffffff;
     padding: 1.3em;
     text-decoration: none;
     display: block;
 }
 .dropdown:hover .dropdown-child {
     display: block;
 }

 .content_ava {
     width: 24em;
 }

 .avatar {
     width:5em;
     height: 5em;
     border-radius:5em;
     margin: 5em 8.75em;
 }
 .reviews {
     margin-bottom:1.3em;
     text-align: left;
 }

 .footer {
     height: 2.5em;
     text-align: center;
     color: #ffffff;
     background-color: #000000;
 }

 .footer p {
     padding: 0.6em;
     margin: 0;
 }

 .program_icons {
     display: block;
 }
 .program_icons img {
     width: 80px;
 }



 .cat_helper img {
     width:300px;
     /*bottom: 350px;*/
     /*float: right;*/
     /*padding-right: 50px;*/
     position:fixed;
     bottom: 40px;
     filter:drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.64));
     -webkit-filter:drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.64));


 }

 .link_img:hover:after,
 .link_img:focus:after {
     width: 0;
 }



  @media screen and (max-width: 900px) {
      .layer a {
          text-decoration: none;
          padding: 1.9em 1.3em 0;
      }

      .content {
          width: 100%;
          flex-direction: column;
          justify-items: center;
      }

      .first_column, .second_column, .third_column {
          margin: 0 auto;
      }

      .teaser_text {
          border: 1px solid #ffffff;
          border-top:none;
      }

      .cat_helper img {
          display: none;
      }
  }



 @media screen and (max-width: 1280px) {

     .cat_helper img {
         width:200px;
         z-index: 1;
     }
 }


 @media screen and (min-width: 1280px) {

     .cat_helper img {
         width:250px;
         z-index: 1;
     }
 }

 @media screen and (min-width: 1360px) {

     .cat_helper img {
         width:300px;
         z-index: 1;
     }
 }