 body {
     margin: 0;
     padding: 0;
     font-family: Montserrat, sans-serif;
     background-color: #2e2d33;
 }

 a {
     color: white;
     text-decoration: none;
 }

 p{
     text-indent: 20px
 }

 .banner {
     width: 100%;
     height: 35em;
     justify-content: center;
 }

 .banner img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: relative;
     z-index: 0;
 }

 .navbar {
     display: flex;
     justify-content: center;
     height: 5em;
     width: 100%;
     background-color: black;
 }

 .layer {
     display: flex;
     justify-content: center;
     width: 1140px;
 }

 .layer a {
     padding:30px 49px 0;
 }

 .layer a:hover {
     color: #70a7ff;
 }

 .content {
     display: flex;
     margin: 0 auto;
     width: 1140px;
 }

 .teaser {
     width: 380px;
     text-align: center;
     padding: 20px 0;
 }

 .teaser a:hover{
     color: #3c3bff;
 }

 .teaser_text, .reviews {
     background-color: #9a999f;
     width: 379px;
     text-align: center;
 }

 .teaser_text p{
     margin: 0;
     padding-top: 20px;
 }

 a {
     line-height: 1;
     cursor: pointer;
     position:relative;
 }
 a:after {
     background-color: #ffffff;
     display: block;
     content: "";
     height: 2px;
     width: 0;
     left:50%;
     position:absolute;
     transition: width .3s ease-in-out;
     transform:translateX(-50%);
 }
    a:hover:after,
    a:focus:after {
     width: 100%;
    }

 .dropdown{
     width: 380px;
     justify-content: center;
 }


 .button_menu {
     background-color: #000000;
     color: white;
     border: none;
     cursor: pointer;
     padding:20px;
     margin: 0 auto;
 }

 .dropdown {
     height: 320px;
     position: relative;
 }
 .dropdown-child {
     display: none;
     background: linear-gradient(to top left, #9e2618, #ac4b80, #91c544);
     min-width: 200px;
 }
 .dropdown-child a {
     color: white;
     padding: 20px;
     text-decoration: none;
     display: block;
 }
 .dropdown:hover .dropdown-child {
     display: block;
 }

 .content_ava{
     width: 380px;
 }

 .avatar {
     width:80px;
     height: 80px;
     border-radius: 50px;
     margin: 50px 140px;
 }
 .reviews{
     margin-bottom:20px;
     text-align: left;
 }

 .footer{
     height: 40px;
     text-align: center;
     justify-content: center;
     color: white;
     background-color: black;
 }

 .footer p{
     padding:  10px;
 }



  @media screen and (max-width: 900px) {
      .layer a {
          text-decoration: none;
          padding: 30px 20px 0;
      }

      .content {
          width: 100%;
          flex-direction: column;
          justify-items: center;
      }

      .first_column, .second_column, .third_column {
          margin: 0 auto;
      }

  }