@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;
}

li, a {
    font-family:'Noto Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

}

.logo{
    width: 7%;

}
.warning{
    font-size: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;



}

.nav__links {
    list-style: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 5em 0 3em;

}
.fon {
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.5;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 25em 0;
    background-color: #434669;
    border-radius: 20px;
    z-index: 5;



}

.test__img{
    width: 400px;
    margin: 20px;
    border-radius: 10px;

}