@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #c3c3c3;
    position: relative;

}

li, a {
    font-family:'Noto Sans', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

}

.logo{
    width: 7%;

}
.warning{
    font-size: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    position: relative;


}

.nav__links {
    list-style: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    position: relative;
}
.fon {
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.3;
}
.container {
    width: 500px;
    height: 200px;
    color: red;
    z-index: 5;
    justify-content: center;
}